.jumbotron{
    background-image: url(../images/learningsign.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color:white;
    min-height:300px;
}